.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper {
  width: 50%;
}
@media screen and (max-width: 1010px) {
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper {
    width: 100%;
  }
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial {
  background: #ffffff;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-text {
  
  
  
  background: #ee2961;
  color: #ffffff;
  padding: 24px 36px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-round-image-frame {
  border-radius: 40px;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-round-image-frame,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-image-wrapper-shape-square {
  width: 40px;
  height: 40px;
  max-width: 100%;
}
@media screen and (max-width: 1010px) {
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-round-image-frame,
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-image-wrapper-shape-square {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-round-image-frame,
  .so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-image-wrapper-shape-square {
    width: 50px;
    height: 50px;
  }
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper {
  zoom: 1;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper:before {
  content: '';
  display: block;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper:after {
  content: '';
  display: table;
  clear: both;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user {
  width: 33%;
  float: left;
  padding: 24px 48px 24px 24px;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-user img,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-user img {
  margin: 0 auto;
  max-width: 100%;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-left .sow-testimonial-text,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-middle .sow-testimonial-text {
  margin-left: 33%;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-user {
  width: 33%;
  float: right;
  padding: 24px 24px 24px 48px;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-user img {
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-side.sow-user-right .sow-testimonial-text {
  margin-right: 33%;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-above .sow-testimonial-user,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user {
  width: auto;
  padding: 24px;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-above .sow-testimonial-user img,
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user img {
  height: auto;
}
.so-widget-sow-testimonials-default-a19ac46ae7be .sow-testimonials .sow-testimonial-wrapper.sow-layout-text-below .sow-testimonial-user {
  padding: 24px;
}