.so-widget-sow-image-default-454c8732248b .sow-image-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.so-widget-sow-image-default-454c8732248b .sow-image-container > a {
  display: inline-block;
  
  
}
.so-widget-sow-image-default-454c8732248b .sow-image-container .so-widget-image {
  display: block;
  
  
  
}